<ion-header>
    <ion-navbar core-back-button>
        <ion-title>{{ 'core.settings.about' | translate }}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-item text-wrap>
        <h2>{{ appName }} {{ versionName }}</h2>
    </ion-item>
	<ion-item-group>
        <ion-item-divider text-wrap>
            {{ 'core.settings.applicationinfo' | translate }}
        </ion-item-divider>
        <ion-item text-wrap *ngIf="versionName">
            <h2>{{ 'core.settings.versionname' | translate}}</h2>
            <p>{{ versionName }}</p>
        </ion-item>
        <ion-item text-wrap *ngIf="versionCode">
            <h2>{{ 'core.settings.versioncode' | translate}}</h2>
            <p>{{ versionCode }}</p>
        </ion-item>
    </ion-item-group>
	
    <ion-item-group>
        <ion-item-divider text-wrap>
            {{ 'core.settings.deviceinfo' | translate }}
        </ion-item-divider>
        <ion-item text-wrap *ngIf="deviceOs">
            <h2>{{ 'core.settings.deviceos' | translate}}</h2>
            <p>{{ deviceOs | translate }}</p>
        </ion-item>
        <ion-item text-wrap *ngIf="currentLanguage">
            <h2>{{ 'core.settings.currentlanguage' | translate}}</h2>
            <p>{{ currentLanguage }}</p>
        </ion-item>
    </ion-item-group>
</ion-content>
